<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>AppSensorDemo2</display-name>
	
	<listener>
		<description>
			This listener is setup to run the trend monitoring code in the background
		</description>
        <listener-class>org.owasp.appsensor.demoapp.trend.InMemoryTrendMonitoringContextListener</listener-class>
    </listener>
	
	<filter>
		<description>
			This filter simply sets up the current request/response for ESAPI to have access to it
		</description>
		<display-name>
		ESAPISecurityWrapper</display-name>
		<filter-name>ESAPISecurityWrapper</filter-name>
		<filter-class>org.owasp.appsensor.demoapp.ASSecurityWrapper</filter-class>
		<init-param>
	      <param-name>allowableResourcesRoot</param-name>
	      <param-value>/</param-value>
	    </init-param> 
	</filter>
	<filter>
		<description>
		</description>
		<display-name>
		AuthFilter</display-name>
		<filter-name>AuthFilter</filter-name>
		<filter-class>org.owasp.appsensor.demoapp.AuthFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>
		AppSensorLoggerFilter</display-name>
		<filter-name>AppSensorLoggerFilter</filter-name>
		<filter-class>org.owasp.appsensor.demoapp.AppSensorLoggerFilter</filter-class>
	</filter>
		<filter>
		<description>
		</description>
		<display-name>
		AppSensorDetectionFilter</display-name>
		<filter-name>AppSensorDetectionFilter</filter-name>
		<filter-class>org.owasp.appsensor.demoapp.AppSensorDetectionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ESAPISecurityWrapper</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AppSensorLoggerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AppSensorDetectionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
		
	<servlet>
		<description>
		</description>
		<display-name>
		Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>
		org.owasp.appsensor.demoapp.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Login2</display-name>
		<servlet-name>Login2</servlet-name>
		<servlet-class>
		org.owasp.appsensor.demoapp.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		This is the REST call for response actions</description>
		<display-name>
		AppSensorResponseAgent</display-name>
		<servlet-name>AppSensorResponseAgent</servlet-name>
		<servlet-class>
		org.owasp.appsensor.demoapp.AppSensorResponseAgent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateProfile</display-name>
		<servlet-name>UpdateProfile</servlet-name>
		<servlet-class>
		org.owasp.appsensor.demoapp.UpdateProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login2</servlet-name>
		<url-pattern>/Login2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppSensorResponseAgent</servlet-name>
		<url-pattern>/AppSensorResponseAgent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/UpdateProfile</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
	  <exception-type>java.lang.Throwable</exception-type>
	  <location>/error.jsp</location>
	</error-page>
	<error-page>
	  <error-code>404</error-code>
	  <location>/404.jsp</location>
	</error-page>
	<error-page>
	  <error-code>500</error-code>
	  <location>/error.jsp</location>
	</error-page>
</web-app>
